<table>
    <tr>
        <td><label>cols</label></td>
        <td><input title="cols" type="text" [formControl]="colCountFormControl" size="3"></td>
    </tr>
    <tr>
        <td><label>rows</label></td>
        <td><input title="rows" type="text" [formControl]="rowCountFormControl" size="3">
        </td>
    </tr>
    <tr>
        <td><label>fixed top (number of rows)</label></td>
        <td><input title="fixed top" type="text" [formControl]="fixedTopFormControl" size="3"></td>
    </tr>
    <tr>
        <td><label>fixed bottom (number of rows)</label></td>
        <td><input title="fixed bottom" type="text" [formControl]="fixedBottomFormControl" size="3"></td>
    </tr>
    <tr>
        <td><label>fixed left (number of cols)</label></td>
        <td><input title="fixed right" type="text" [formControl]="fixedLeftFormControl" size="3"></td>
    </tr>
    <tr>
        <td><label>fixed right (number of cols)</label></td>
        <td><input title="fixed right" type="text" [formControl]="fixedRightFormControl" size="3"></td>
    </tr>
    <tr>
        <td><label>log level</label></td>
        <td>
            <select title="log level" [formControl]="logLevelFormControl">
                <option>off</option>
                <option>info</option>
                <option>debug</option>
                <option>trace</option>
            </select><br>
        </td>
    </tr>
    <tr>
        <td><label>tile size (width/height)</label></td>
        <td>
            <input title="tile size" type="text" [formControl]="tileWidthFormControl" size="3">
            <input title="tile size" type="text" [formControl]="tileHeightFormControl" size="3"></td>
    </tr>
    <tr>
        <td></td>
        <td><input title="ok" type="button" value="OK" (click)="ok()"></td>
    </tr>
</table>
<matrix-view
    [config]="configSubject"
    [model]="modelSubject"
    (clickCell)="clickCell($event)"
    (contextmenuCell)="contextmenuCell($event)"
    (dblclickCell)="dblclickCell($event)"
    (mousedownCell)="mousedownCell($event)"
    (mouseenterCell)="mouseenterCell($event)"
    (mouseleaveCell)="mouseleaveCell($event)"
    (mousemoveCell)="mousemoveCell($event)"
    (mouseoverCell)="mouseoverCell($event)"
    (mouseoutCell)="mouseoutCell($event)"
    (mouseupCell)="mouseupCell($event)"
    class="matrix-view">
    <ng-container *matrixViewFixedTopLeftCorner="let corner haveStyle style.fixedCorner.topLeft">
        <input type="button" value="X">
    </ng-container>
    <ng-container *matrixViewFixedTopCell="let cellValue haveStyle style.fixedCell.top">
        {{cellValue}}
    </ng-container>
    <ng-container *matrixViewFixedLeftCell="let cellValue haveStyle style.fixedCell.left">
        {{cellValue}}
    </ng-container>
    <ng-container *matrixViewCell="let cellValue haveStyle style.cell; let index = index; let hover = hover">
        <!-- TODO: optimize this, by givin a renderer for col property on the directive -->
        <ng-container [ngSwitch]="index.col">
            <ng-container *ngSwitchCase="1"><input type="checkbox"></ng-container>
            <ng-container *ngSwitchCase="2"><input type="text" class="input-text"></ng-container>
            <ng-container *ngSwitchCase="3"><input type="button" [value]="cellValue"></ng-container>
            <ng-container *ngSwitchCase="4"><input type="number" class="input-text" [value]="cellValue"></ng-container>
            <!--<ng-container *ngSwitchDefault>{{cellValue}}</ng-container>-->
            <ng-container *ngSwitchDefault>
                <div
                    [ngClass]="{
                    'row-hover': index.row === hoveredCell?.index.row && index.col !== hoveredCell?.index.col,
                    'col-hover': index.col === hoveredCell?.index.col && index.row !== hoveredCell?.index.row,
                    'cell-hover': hover}"
                >
                    {{cellValue}}
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</matrix-view>
