
div {
    box-sizing: border-box;
}

// default display of the host should be inline-block
:host {
    display: inline-block;
    overflow: hidden;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.ship {
    // make sure the ship fills the whole host
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    // make sure the container fills the whole ship
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    // TODO DST: make configurable
    overflow: scroll;
    // TODO: test the table insice a component which has itself a high z-index, is there any problem?
    // make sure the scroll bars lie above the fixed elements, hence the z-index

    background-color: beige;
}

.fixed {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    overflow: hidden;
}

.fixed-top {
    background-color: #ffa841;
}

.fixed-bottom {
    background-color: #ff39eb;
}

.fixed-left {
    background-color: #fffe43;
}

.fixed-right {
    background-color: #15ff1c;
}

.fixed-top-left {
    background-color: #42fff3;
}

.fixed-top-right {
    background-color: #ffbdd9;
}

.fixed-bottom-right {
    background-color: #7280ff;
}

.fixed-bottom-left {
    background-color: #ffc26a;
}

// the canvas is the area all scrollable content is drawn to
.canvas {
    display: block;
    position: relative;

    background-color: #e0f0fa;
}

.canvas-top {
    display: block;
    position: relative;
    background-color: #fa00cc;
}

.cell {
    position: absolute;
}
