div {
    box-sizing: border-box;
}

// default display of the host should be inline-block
:host {
    display: inline-block;
    overflow: hidden;
}

.ship {
    // make sure the ship fills the whole host
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.scrollable {
    // make sure the container fills the whole ship
    width: 100%;
    height: 100%;
    position: relative;
    // TODO DST: make configurable
    overflow: scroll;
}

.fixed {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    overflow: hidden;
}

.fixed-top {
    background-color: #ffa841;
}

.fixed-bottom {
    background-color: #ff39eb;
}

.fixed-left {
    background-color: #fffe43;
}

.fixed-right {
    background-color: #15ff1c;
}

.fixed-top-left {
    background-color: #42fff3;
}

.fixed-top-right {
    background-color: #ffbdd9;
}

.fixed-bottom-right {
    background-color: #7280ff;
}

.fixed-bottom-left {
    background-color: #ffc26a;
}

