<!-- default cell template simply prints the value-->
<ng-template #defaultCellTemplate let-cell="cell">{{cell.value}}</ng-template>

<!-- our container sits on a ship ;-) this is at least easy to remember -->
<div #ship class="ship">

    <!-- the container is responsible for the scrollbars and the main canvas (not the fixed areas) -->
    <div #container class="container">
        <div #canvas class="canvas"
             [style.width]="viewModel.canvasSize.width + 'px'"
             [style.height]="viewModel.canvasSize.height + 'px'"
             [style.min-width]="viewModel.viewportSize.width + 'px'"
             [style.min-height]="viewModel.viewportSize.height + 'px'"
        >
            <!-- TODO DST: it is not clear if the trackBy works with this JSON style index... needed at all here? since the number of tiles does not change, this must be investigated further -->
            <matrix-view-tile-renderer #scrollableTileRenderers
                                       *ngFor="let tile of viewModel.scrollableTiles"
                                       [cellTemplate]="cellTemplate ? cellTemplate : defaultCellTemplate"
                                       [tile]="tile"
                                       [style.top]="tile.position.top + 'px'"
                                       [style.left]="tile.position.left + 'px'"
                                       [style.width]="tile.size.width + 'px'"
                                       [style.height]="tile.size.height + 'px'"
            >
            </matrix-view-tile-renderer>
        </div>
    </div>

    <!-- all fixed areas sit outside the container -->
    <!-- START: fixed areas -->
    <!-- The stacking order was chosen carefully because of some corner cases, see README.md for details. -->
    <div *ngIf="viewModel.showFixed.left"
         #fixedLeft class="fixed fixed-left"
         [style.width]="viewModel.fixedLeftWidth  + 'px'"
    >
        <div #canvasLeft class="canvas-left"
             [style.width]="viewModel.canvasSize.width + 'px'"
             [style.height]="viewModel.canvasSize.height + 'px'"
             [style.min-width]="viewModel.viewportSize.width + 'px'"
             [style.min-height]="viewModel.viewportSize.height + 'px'"
        >
            <matrix-view-tile-renderer #fixedLeftTileRenderers
                                       *ngFor="let tile of viewModel.fixedLeftTiles"
                                       [cellTemplate]="fixedLeftCellTemplate ? fixedLeftCellTemplate : (cellTemplate ? cellTemplate : defaultCellTemplate)"
                                       [tile]="tile"
                                       [style.top]="tile.position.top + 'px'"
                                       [style.left]="tile.position.left + 'px'"
                                       [style.width]="tile.size.width + 'px'"
                                       [style.height]="tile.size.height + 'px'"
            >
            </matrix-view-tile-renderer>
        </div>
    </div>
    <div *ngIf="viewModel.showFixed.bottom"
         #fixedBottom class="fixed fixed-bottom"
         [style.transform]="'translate3d(0, ' + viewModel.fixedBottomOffset + 'px, 0)'"
         [style.height]="viewModel.fixedBottomHeight  + 'px'"
    >
        <!-- TODO DST: check if this is needed, if no scroll bar is there -->
        <!-- one pixel is added to the canvas size, to account for rounding errors -->
        <div #canvasBottom class="canvas-bottom"
             [style.width]="viewModel.canvasSize.width + 1 + 'px'"
             [style.height]="viewModel.canvasSize.height + 'px'"
             [style.min-width]="viewModel.viewportSize.width + 1 + 'px'"
             [style.min-height]="viewModel.viewportSize.height + 'px'"
             [style.top]="(viewModel.fixedBottomHeight - viewModel.canvasSize.height) + 'px'"
        >
            <matrix-view-tile-renderer #fixedBottomTileRenderers
                                       *ngFor="let tile of viewModel.fixedBottomTiles"
                                       [cellTemplate]="fixedBottomCellTemplate ? fixedBottomCellTemplate : (cellTemplate ? cellTemplate : defaultCellTemplate)"
                                       [tile]="tile"
                                       [style.top]="tile.position.top + 'px'"
                                       [style.left]="tile.position.left + 'px'"
                                       [style.width]="tile.size.width + 'px'"
                                       [style.height]="tile.size.height + 'px'"
            >
            </matrix-view-tile-renderer>
        </div>
    </div>
    <div *ngIf="viewModel.showFixed.top"
         #fixedTop class="fixed fixed-top"
         [style.height]="viewModel.fixedTopHeight + 'px'"
    >
        <!-- TODO DST: check if this is needed, if no scroll bar is there -->
        <!-- one pixel is added to the canvas size, to account for rounding errors -->
        <div #canvasTop class="canvas-top"
             [style.width]="viewModel.canvasSize.width + 'px'"
             [style.height]="viewModel.canvasSize.height + 'px'"
             [style.min-width]="viewModel.viewportSize.width + 'px'"
             [style.min-height]="viewModel.viewportSize.height + 'px'"
        >
            <matrix-view-tile-renderer #fixedTopTileRenderers
                                       *ngFor="let tile of viewModel.fixedTopTiles"
                                       [cellTemplate]="fixedTopCellTemplate ? fixedTopCellTemplate : (cellTemplate ? cellTemplate : defaultCellTemplate)"
                                       [tile]="tile"
                                       [style.top]="tile.position.top + 'px'"
                                       [style.left]="tile.position.left + 'px'"
                                       [style.width]="tile.size.width + 'px'"
                                       [style.height]="tile.size.height + 'px'"
            >
            </matrix-view-tile-renderer>
        </div>
    </div>
    <div *ngIf="viewModel.showFixed.right"
         #fixedRight class="fixed fixed-right"
         [style.transform]="'translate3d(' + viewModel.fixedRightOffset + 'px, 0, 0)'"
         [style.width]="viewModel.fixedRightWidth + 'px'"
    >
        <!-- TODO DST: check if this is needed, if no scroll bar is there -->
        <!-- one pixel is added to the canvas size, to account for rounding errors -->
        <div #canvasRight class="canvas-right"
             [style.width]="viewModel.canvasSize.width + 'px'"
             [style.height]="viewModel.canvasSize.height + 'px'"
             [style.min-width]="viewModel.viewportSize.width + 'px'"
             [style.min-height]="viewModel.viewportSize.height + 'px'"
             [style.left]="(viewModel.fixedRightWidth - viewModel.canvasSize.width) + 'px'"
        >
            <matrix-view-tile-renderer #fixedRightTileRenderers
                                       *ngFor="let tile of viewModel.fixedRightTiles"
                                       [cellTemplate]="fixedRightCellTemplate ? fixedRightCellTemplate : (cellTemplate ? cellTemplate : defaultCellTemplate)"
                                       [tile]="tile"
                                       [style.top]="tile.position.top + 'px'"
                                       [style.left]="tile.position.left + 'px'"
                                       [style.width]="tile.size.width + 'px'"
                                       [style.height]="tile.size.height + 'px'"
            >
            </matrix-view-tile-renderer>
        </div>
    </div>
    <div *ngIf="viewModel.showFixedCorners.topRight"
         #fixedTopRight class="fixed fixed-top-right"
         [style.transform]="'translate3d(' + viewModel.fixedRightOffset + 'px, 0, 0)'"
         [style.height]="viewModel.fixedTopHeight  + 'px'"
         [style.width]="viewModel.fixedRightWidth + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedTopRightTemplate ? fixedTopRightTemplate : fixedCornerTemplate"></ng-container>
    </div>
    <div *ngIf="viewModel.showFixedCorners.bottomRight"
         #fixedBottomRight class="fixed fixed-bottom-right"
         [style.transform]="'translate3d(' + viewModel.fixedRightOffset + 'px, ' + viewModel.fixedBottomOffset + 'px, 0)'"
         [style.width]="viewModel.fixedRightWidth + 'px'"
         [style.height]="viewModel.fixedBottomHeight  + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedBottomRightTemplate ? fixedBottomRightTemplate : fixedCornerTemplate"></ng-container>
    </div>
    <div *ngIf="viewModel.showFixedCorners.bottomLeft"
         #fixedBottomLeft class="fixed fixed-bottom-left"
         [style.transform]="'translate3d(0, ' + viewModel.fixedBottomOffset + 'px, 0)'"
         [style.height]="viewModel.fixedBottomHeight  + 'px'"
         [style.width]="viewModel.fixedLeftWidth + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedBottomLeftTemplate ? fixedBottomLeftTemplate : fixedCornerTemplate"></ng-container>
    </div>
    <div *ngIf="viewModel.showFixedCorners.topLeft"
         #fixedTopLeft class="fixed fixed-top-left"
         [style.height]="viewModel.fixedTopHeight  + 'px'"
         [style.width]="viewModel.fixedLeftWidth + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedTopLeftTemplate ? fixedTopLeftTemplate : fixedCornerTemplate"></ng-container>
    </div>
    <!-- END: fixed areas -->
</div>
