<!-- our container sits on a ship ;-) this is at least easy to remember -->
<div #ship class="ship">

    <!-- the container is responsible for the scrollbars and the main canvas (not the fixed areas) -->
    <matrix-view-container #scrollableContainer
                           class="scrollable"
                           [cellDirective]="cellDirective"
                           [canvasSize]="canvasSize"
                           [viewportSize]="viewportSize"
                           [cells]="cells"
                           [config]="currentConfig"
                           [cellsSlice]="scrollableSlice"
    >
    </matrix-view-container>
    <!-- all fixed areas sit outside the container -->
    <!-- START: fixed areas -->
    <!-- The stacking order was chosen carefully because of some corner cases, see README.md for details. -->
    <matrix-view-container
        *ngIf="currentConfig.showFixed.left"
        #fixedLeftContainer
        class="fixed fixed-left"
        [cellDirective]="fixedLeftCellDirective ? fixedLeftCellDirective :
                         (fixedCellDirective ? fixedCellDirective : cellDirective)"
        [canvasSize]="canvasSize"
        [viewportSize]="viewportSize"
        [cells]="cells"
        [config]="currentConfig"
        [cellsSlice]="fixed.left.slice"
        [scrollOffset]="fixed.left.scrollOffset"
        [style.transform]="'translate(' + fixed.left.offset.left + 'px, ' + fixed.left.offset.top + 'px)'"
        [style.width]="fixed.left.size.width + 'px'"
        [style.height]="fixed.left.size.height + 'px'"
    >
    </matrix-view-container>
    <matrix-view-container
        *ngIf="currentConfig.showFixed.bottom"
        #fixedBottomContainer
        class="fixed fixed-bottom"
        [cellDirective]="fixedBottomCellDirective ? fixedBottomCellDirective :
                         (fixedCellDirective ? fixedCellDirective : cellDirective)"
        [canvasSize]="canvasSize"
        [viewportSize]="viewportSize"
        [cells]="cells"
        [config]="currentConfig"
        [cellsSlice]="fixed.bottom.slice"
        [scrollOffset]="fixed.bottom.scrollOffset"
        [style.transform]="'translate(' + fixed.bottom.offset.left + 'px, ' + fixed.bottom.offset.top + 'px)'"
        [style.width]="fixed.bottom.size.width + 'px'"
        [style.height]="fixed.bottom.size.height + 'px'"
    >
    </matrix-view-container>
    <matrix-view-container
        *ngIf="currentConfig.showFixed.top"
        #fixedTopContainer
        class="fixed fixed-top"
        [cellDirective]="fixedTopCellDirective ? fixedTopCellDirective :
                         (fixedCellDirective ? fixedCellDirective : cellDirective)"
        [canvasSize]="canvasSize"
        [viewportSize]="viewportSize"
        [cells]="cells"
        [config]="currentConfig"
        [cellsSlice]="fixed.top.slice"
        [scrollOffset]="fixed.top.scrollOffset"
        [style.transform]="'translate(' + fixed.top.offset.left + 'px, ' + fixed.top.offset.top + 'px)'"
        [style.width]="fixed.top.size.width + 'px'"
        [style.height]="fixed.top.size.height + 'px'"
    >
    </matrix-view-container>
    <matrix-view-container
        *ngIf="currentConfig.showFixed.right"
        #fixedRightContainer
        class="fixed fixed-right"
        [cellDirective]="fixedRightCellDirective ? fixedRightCellDirective :
                         (fixedCellDirective ? fixedCellDirective : cellDirective)"
        [canvasSize]="canvasSize"
        [viewportSize]="viewportSize"
        [cells]="cells"
        [config]="currentConfig"
        [cellsSlice]="fixed.right.slice"
        [scrollOffset]="fixed.right.scrollOffset"
        [style.transform]="'translate(' + fixed.right.offset.left + 'px, ' + fixed.right.offset.top + 'px)'"
        [style.width]="fixed.right.size.width + 'px'"
        [style.height]="fixed.right.size.height + 'px'"
    >
    </matrix-view-container>

    <div *ngIf="currentConfig.showFixedCorners.topRight"
         #fixedTopRight class="fixed fixed-top-right"
         [ngStyle]="fixedTopRightStyle"
         [style.transform]="'translate(' + fixed.right.offset.left + 'px, 0)'"
         [style.height]="fixed.top.size.height  + 'px'"
         [style.width]="fixed.right.size.width + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedTopRightTemplate"></ng-container>
    </div>
    <div *ngIf="currentConfig.showFixedCorners.bottomRight"
         #fixedBottomRight class="fixed fixed-bottom-right"
         [ngStyle]="fixedBottomRightStyle"
         [style.transform]="'translate(' + fixed.right.offset.left + 'px, ' + fixed.bottom.offset.top + 'px)'"
         [style.width]="fixed.right.size.width + 'px'"
         [style.height]="fixed.bottom.size.height  + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedBottomRightTemplate"></ng-container>
    </div>
    <div *ngIf="currentConfig.showFixedCorners.bottomLeft"
         #fixedBottomLeft class="fixed fixed-bottom-left"
         [ngStyle]="fixedBottomLeftStyle"
         [style.transform]="'translate(0, ' + fixed.bottom.offset.top + 'px)'"
         [style.height]="fixed.bottom.size.height  + 'px'"
         [style.width]="fixed.left.size.width + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedBottomLeftTemplate"></ng-container>
    </div>
    <div *ngIf="currentConfig.showFixedCorners.topLeft"
         #fixedTopLeft class="fixed fixed-top-left"
         [ngStyle]="fixedTopLeftStyle"
         [style.height]="fixed.top.size.height  + 'px'"
         [style.width]="fixed.left.size.width + 'px'"
    >
        <ng-container
            *ngTemplateOutlet="fixedTopLeftTemplate"></ng-container>
    </div>
    <!-- END: fixed areas -->
</div>
